.bg-info {
    background-color: #8A3FFC !important;
}

a.bg-info:hover,
a.bg-info:focus,
button.bg-info:hover,
button.bg-info:focus {
    background-color: #6b0dfb !important;
}

.btn-outline-info {
    color: #8A3FFC;
    border-color: #8A3FFC;
}

.btn-outline-info:hover {
    color: #fff;
    background-color: #8A3FFC;
    border-color: #8A3FFC;
}

.btn-outline-info:focus,
.btn-outline-info.focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(138, 63, 252, 0.5);
    box-shadow: 0 0 0 0.2rem rgba(138, 63, 252, 0.5);
}

.btn-outline-info.disabled,
.btn-outline-info:disabled {
    color: #8A3FFC;
    background-color: transparent;
}

.btn-outline-info:not(:disabled):not(.disabled):active,
.btn-outline-info:not(:disabled):not(.disabled).active,
.show>.btn-outline-info.dropdown-toggle {
    color: #fff;
    background-color: #8A3FFC;
    border-color: #8A3FFC;
}

.btn-outline-info:not(:disabled):not(.disabled):active:focus,
.btn-outline-info:not(:disabled):not(.disabled).active:focus,
.show>.btn-outline-info.dropdown-toggle:focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(138, 63, 252, 0.5);
    box-shadow: 0 0 0 0.2rem rgba(138, 63, 252, 0.5);
}

.btn-info {
    color: #fff;
    background-color: #8A3FFC;
    border-color: #8A3FFC;
}

.btn-info:hover {
    color: #fff;
    background-color: #7319fb;
    border-color: #6b0dfb;
}

.btn-info:focus,
.btn-info.focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(156, 92, 252, 0.5);
    box-shadow: 0 0 0 0.2rem rgba(156, 92, 252, 0.5);
}

.btn-info.disabled,
.btn-info:disabled {
    color: #fff;
    background-color: #8A3FFC;
    border-color: #8A3FFC;
}

.btn-info:not(:disabled):not(.disabled):active,
.btn-info:not(:disabled):not(.disabled).active,
.show>.btn-info.dropdown-toggle {
    color: #fff;
    background-color: #6b0dfb;
    border-color: #6504f7;
}

.btn-info:not(:disabled):not(.disabled):active:focus,
.btn-info:not(:disabled):not(.disabled).active:focus,
.show>.btn-info.dropdown-toggle:focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(156, 92, 252, 0.5);
    box-shadow: 0 0 0 0.2rem rgba(156, 92, 252, 0.5);
}

.text-info {
    color: #8A3FFC !important;
}

a.text-info:hover,
a.text-info:focus {
    color: #5f04eb !important;
}

.input-group-text {
    background-color: white;
    border-left: none;
}

.password {
    border-right: none;
}