<main>
    <div class="container">
        <div class="vh-100">

            <div class="emp-profile">
                <form method="post">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="file profile-img">
                                <!-- <img class="profile-pic" src="https://i.pinimg.com/564x/80/3d/34/803d3447787219b6b66e4e4d98c147b9.jpg" alt="Imagen Perfil"> -->
                                <img class="profile-pic" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS52y5aInsxSm31CvHOFHWujqUx_wWTS9iM6s7BAm21oEN_RiGoog" alt="Imagen de perfil" />
                                <div type="button" class="file btn btn-lg btn-primary">
                                    Cambiar
                                    <input type="file" name="file" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="profile-head">
                                <h5>
                                    Laura Martínez
                                </h5>
                                <h6>
                                    Web Developer
                                </h6>
                                <!-- <p class="profile-rating">RANKINGS : <span>8/10</span></p> -->
                                <ul class="nav nav-tabs" id="myTab" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" id="home-tab" data-toggle="tab" type="submit" role="tab" aria-controls="home" aria-selected="true">Usuario</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="profile-tab" data-toggle="tab" type="button" role="tab" aria-controls="profile" aria-selected="false">Otra información</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-2 text-center">
                            <input type="button" class="profile-edit-btn" name="btnAddMore" value="Editar" />
                        </div>
                    </div>
                    <div class="row mt-2">
                        <!-- <div class="col-md-4">
                            <div class="profile-work">
                                <p>PERFIL DE TRABAJADOR</p>
                                <a routerLink="/profile">Website Link</a><br/>
                                <a routerLink="/profile">Bootsnipp Profile</a><br/>
                                <a routerLink="/profile">Bootply Profile</a>
                                <p>CONOCIMIENTOS</p>
                                <a routerLink="/profile">Web Designer</a><br/>
                                <a routerLink="/profile">Web Developer</a><br/>
                                <a routerLink="/profile">WordPress</a><br/>
                                <a routerLink="/profile">WooCommerce</a><br/>
                                <a routerLink="/profile">PHP, .Net</a><br/>
                            </div>
                        </div> -->
                        <div class="col-md-8 ">
                            <div class="tab-content profile-tab" id="myTabContent">
                                <div class="bg-white tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                    <div class="row ">
                                        <div class="col-md-6">
                                            <label>Nombre de usuario</label>
                                        </div>
                                        <div class="col-md-6">
                                            <p>lauMrtnz</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>Nombre</label>
                                        </div>
                                        <div class="col-md-6">
                                            <p> Laura </p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>Email</label>
                                        </div>
                                        <div class="col-md-6">
                                            <p>ejemplo@correo.com</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>Teléfono</label>
                                        </div>
                                        <div class="col-md-6">
                                            <p>123 456 7890</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>Profesión</label>
                                        </div>
                                        <div class="col-md-6">
                                            <p>Web Developer</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>Experiencia</label>
                                        </div>
                                        <div class="col-md-6">
                                            <p>Experto</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>Proyectos realizados</label>
                                        </div>
                                        <div class="col-md-6">
                                            <p>230</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>Nivel de inglés</label>
                                        </div>
                                        <div class="col-md-6">
                                            <p>Expert</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>Disponibilidad</label>
                                        </div>
                                        <div class="col-md-6">
                                            <p>6 meses</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <label>Biografía</label><br/>
                                            <p>Descripción detallada</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>