<div class="container">
    <h1 class="display-4">Encuentra el material que necesitas aquí</h1>
</div>

<div class="container my-4">
    <div class="container-fluid">

        <div class="list-group">
            <div class="list-group-item bg-info text-white">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">Herramientas</h5>
                    <small>n elementos</small>
                </div>
            </div>
            <div *ngFor="let software of softwareList">
                <a role="button" (click)="gotoItem(software.id)" class="list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">{{ software.name }}</h5>
                        <small class="text-muted">Haz click para ver más</small>
                    </div>
                    <p class="mb-1">{{software.description}}</p>
                    <small class="text-muted"></small>
                </a>
            </div>
        </div>
    </div>
</div>