.modal.custom {
    background: rgba(0, 0, 0, .5);
}

.modal-header {
    text-align: center;
}

.modal-body.titulo {
    border-bottom: 1px solid #dee2e6 !important;
    text-align: center;
}


/* .modal-body .btn-close {
    width: 0px;
    padding: 0 0;
    margin: 0 0;
} */

.check {
    fill: var(--success);
}

.btn-delete {
    color: var(--danger);
}

.btn-edit {
    color: var(--primary);
}