<header class="dashboard-toolbar">
    <div class="container">
        <div class="d-flex flex-wrap justify-content-around py-3 mb-0 border-bottom">
            <div role="button" class="menu-toggle" title="Desplegar menú">
                <i class="fas fa-bars"></i>
            </div>
            <div routerLink="" role="button">
                <img src="../../../assets/img/logo/logotipo_horizontal_ujasoftpack_oscuro.png" alt="UJA-SoftPack" class="logo">
            </div>

            <a class="tools-item" role="button" id="usuario" href="https://github.com/Diegobc21/UJA-SoftPack-Old" target="_blank" title="Código fuente">
                <i class="fab fa-github icon"></i>
            </a>

            <!-- <div class="nav nav-pills">
                <div class="tools">
                    <div class="dropdown tools-item">
                        <a class="tools-item" role="button" id="usuario" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-user"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="usuario">
                            <a role="button" class="dropdown-item" routerLink="login">Inicia sesión</a>
                            <a role="button" class="dropdown-item" routerLink="registro">Crea tu cuenta</a>
                            <a role="button" class="dropdown-item" routerLink="profile">Ver perfil</a>
                            <a role="button" class="dropdown-item" routerLink="">Cerrar sesión</a>
                        </div>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
</header>