.dashboard {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    min-height: 100vh;
}

.dashboard-app {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 2;
    -webkit-flex-grow: 2;
    -ms-flex-positive: 2;
    flex-grow: 2;
    margin-top: 96.94px;
    background-color: white;
    z-index: 97;
}

.spinner-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(74, 74, 74, .8);
    z-index: 1001;
    display: flex;
    align-items: center;
    justify-content: center;
}