<section class="py-5 text-center container">
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">Añade tu software preferido</h1>
            <p class="lead text-muted">Contacta con nuestros administradores para añadir tu software a medida en UJA-SoftPack</p>

        </div>
    </div>
</section>

<hr/>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4 m-auto">
            <h2 class="display-4">Aquí tienes un ejemplo</h2>
            <p>
                Esta es una plantilla de ejemplo para proporcionar software a medida, puedes configurarlo a tu gusto.
            </p>

        </div>

        <ngx-monaco-editor class="mx-auto my-4 code-editor" [options]="this.options" [(ngModel)]="code"></ngx-monaco-editor>

    </div>
</div>


<hr/>