<div class="dashboard-nav">
    <header>
        <a role="button" type="button" class="menu-toggle">
            <i class="fas fa-bars"></i>
        </a>
        <div class="d-flex justify-content-between">
            <h2 class="align-middle text-white text-bold">MENU</h2>
        </div>
    </header>
    <nav class="dashboard-nav-list">
        <a role="button" type="button" routerLink="" class="dashboard-nav-item close-menu"><i class="fas fa-home"></i>
            Inicio 
        </a>
        <a routerLink="/software" role="button" type="button" class="dashboard-nav-item close-menu"><i class="fas fa-file-upload"></i> Software </a>
        <!-- <div class='dashboard-nav-dropdown'>
            <a role="button" type="button" class="dashboard-nav-item dashboard-nav-dropdown-toggle">
                <i class="fas fa-users"></i> Únete
            </a>
            <div class='dashboard-nav-dropdown-menu'>
                <a role="button" type="button" routerLink="/login" class="dashboard-nav-dropdown-item close-menu">Iniciar sesión</a>
                <a role="button" type="button" routerLink="/registro" class="dashboard-nav-dropdown-item close-menu">Crear Cuenta</a>
            </div>
        </div>
        <a role="button" routerLink="admin" type="button" class="dashboard-nav-item close-menu">
            <i class="fas fa-cogs"></i> Admin
        </a>
        <a role="button" type="button" routerLink="/profile" class="dashboard-nav-item close-menu"><i class="fas fa-user"></i> Perfil </a>
        <div class="nav-item-divider"></div>
        <a role="button" type="button" class="dashboard-nav-item close-menu" routerLink=""><i class="fas fa-sign-out-alt"></i> Cerrar sesión </a> -->
    </nav>
</div>