:root {
    --blue: #007bff !important;
    --indigo: #6610f2 !important;
    --purple: #6f42c1 !important;
    --pink: #e83e8c !important;
    --red: #dc3545 !important;
    --orange: #fd7e14 !important;
    --yellow: #ffc107 !important;
    --green: #28a745 !important;
    --teal: #20c997 !important;
    --cyan: #17a2b8 !important;
    --white: #fff !important;
    --gray: #6c757d !important;
    --gray-dark: #343a40 !important;
    --primary: #3F84FC !important;
    --secondary: #727F94 !important;
    --success: #1DAB47 !important;
    --info: #8A3FFC !important;
    --warning: #FCAE3F !important;
    --danger: #FC413F !important;
    --light: #f8f9fa !important;
    --dark: #1E232D !important;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

*,
::after,
::before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

nav {
    display: block;
}

p {
    background: rgba(255, 255, 255, 0);
}

.bg-overlay {
    position: relative;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    z-index: 2;
}


/* IMPORTANTE - ARREGLA EL BUG DE PANTALLA COMPLETAMENTE OSCURA */

.modal-backdrop {
    display: none;
}

.menu-toggle,
.menu-toggle-custom {
    position: relative;
    width: 42px;
    height: 42px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #8A3FFC;
}

.menu-toggle:hover,
.menu-toggle:active,
.menu-toggle:focus {
    text-decoration: none;
    transition: .3s;
    color: #6a30c2;
}

.menu-toggle i {
    font-size: 20px;
}

.bg-info {
    background-color: #8A3FFC !important;
}

a.bg-info:hover,
a.bg-info:focus,
button.bg-info:hover,
button.bg-info:focus {
    background-color: #642db6 !important;
}

.btn-outline-info {
    color: #8A3FFC;
    border-color: #8A3FFC;
}

.btn-outline-info:hover {
    color: #fff;
    background-color: #8A3FFC;
    border-color: #8A3FFC;
}

.btn-outline-info:focus,
.btn-outline-info.focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(138, 63, 252, 0.5);
    box-shadow: 0 0 0 0.2rem rgba(138, 63, 252, 0.5);
}

.btn-outline-info.disabled,
.btn-outline-info:disabled {
    color: #8A3FFC;
    background-color: transparent;
}

.btn-outline-info:not(:disabled):not(.disabled):active,
.btn-outline-info:not(:disabled):not(.disabled).active,
.show>.btn-outline-info.dropdown-toggle {
    color: #fff;
    background-color: #8A3FFC;
    border-color: #8A3FFC;
}

.btn-outline-info:not(:disabled):not(.disabled):active:focus,
.btn-outline-info:not(:disabled):not(.disabled).active:focus,
.show>.btn-outline-info.dropdown-toggle:focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(138, 63, 252, 0.5);
    box-shadow: 0 0 0 0.2rem rgba(138, 63, 252, 0.5);
}

.btn-info {
    color: #fff;
    background-color: #8A3FFC;
    border-color: #8A3FFC;
}

.btn-info:hover {
    color: #fff;
    background-color: #642db6;
    border-color: #642db6;
}

.btn-info:focus,
.btn-info.focus {
    background-color: #642db6 !important;
    -webkit-box-shadow: 0 0 0 0.2rem rgba(156, 92, 252, 0.5);
    box-shadow: 0 0 0 0.2rem rgba(156, 92, 252, 0.5);
}

.btn-info.disabled,
.btn-info:disabled {
    color: #fff;
    background-color: #8A3FFC;
    border-color: #8A3FFC;
}

.btn-info:not(:disabled):not(.disabled):active,
.btn-info:not(:disabled):not(.disabled).active,
.show>.btn-info.dropdown-toggle {
    color: #fff;
    background-color: #642db6;
    border-color: #642db6;
}

.btn-info:not(:disabled):not(.disabled):active:focus,
.btn-info:not(:disabled):not(.disabled).active:focus,
.show>.btn-info.dropdown-toggle:focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(156, 92, 252, 0.5);
    box-shadow: 0 0 0 0.2rem rgba(156, 92, 252, 0.5);
}

.text-info {
    color: #8A3FFC !important;
}

a.text-info:hover,
a.text-info:focus {
    color: #642db6 !important;
}

.dashboard-toolbar {
    min-height: 84px;
    background-color: rgb(255, 255, 255);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 8px 0px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
    transition: .5s;
}

.dashboard-compact .dashboard-nav {
    min-width: 238px;
}

@media (min-width: 768px) {
    .dashboard-toolbar {
        left: 0px;
    }
    .dashboard-compact .dashboard-toolbar {
        left: 238px;
    }
    .dashboard-app {
        margin-left: 0px;
        transition: all .5s;
    }
    .dashboard-compact .dashboard-app {
        margin-left: 238px;
        transition: all .5s;
    }
}