<footer class=" footer-dark">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-3 item">
                <h3>Servicios</h3>
                <ul>
                    <li><a type="button">Web design</a></li>
                    <li><a type="button">Development</a></li>
                    <li><a type="button">Hosting</a></li>
                </ul>
            </div>
            <div class="col-sm-6 col-md-3 item">
                <h3>Sobre nosotros</h3>
                <ul>
                    <li><a type="button">Company</a></li>
                    <li><a type="button">Team</a></li>
                    <li><a type="button">Careers</a></li>
                </ul>
            </div>
            <div class="col-md-6 item text">
                <h3>UJA-SoftPack</h3>
                <p>Praesent sed lobortis mi. Suspendisse vel placerat ligula. Vivamus ac sem lacus. Ut vehicula rhoncus elementum. Etiam quis tristique lectus. Aliquam in arcu eget velit pulvinar dictum vel in justo.</p>
            </div>
            <div class="col item social">
                <a type="button"><i class="icon ion-social-facebook"></i></a>
                <a type="button"><i class="icon ion-social-twitter"></i></a>
                <a type="button"><i class="icon ion-social-snapchat"></i></a>
                <a type="button"><i class="icon ion-social-instagram"></i></a>
            </div>
        </div>
        <p class="copyright">Copyright &copy; {{ currentYear }} | UJA-SoftPack </p>
    </div>
</footer>