<div class="container">
    <div class="align-middle">
        <div class="">
            <div class=" d-flex justify-content-center align-items-center padding404" id="main">
                <h1 class="mr-3 pr-3 align-top border-right inline-block align-content-center">404</h1>
                <div class="inline-block align-middle">
                    <h4 class="fst-italic" id="desc">
                        Cualquier cosa que pueda ir mal... irá mal.
                    </h4>
                    <h2 class="font-weight-normal lead">
                        Edward A. Murphy Jr.
                    </h2>
                </div>
            </div>
        </div>
    </div>
</div>